@use './UstadDesignTokens' as tokens;

.decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.decorations__shape {
  position: absolute;
  transform: rotate(var(--rotation, 0deg));
  animation: float 6s ease-in-out infinite;
  animation-delay: var(--delay);
}

.decorations__shape__016 {
  top: 0px;
  left: 28.744px;
  scale: 0.8;
}

.decorations__shape__017 {
  bottom: 109px;
  right: 236.28px;
  scale: 0.8;
}

.decorations__shape__014 {
  bottom: 834.8px;
  left: 1305.06px;
  scale: 0.8;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(var(--rotation)) scale(0.75);
  }
  50% {
    transform: translateY(-20px) rotate(var(--rotation)) scale(0.8);
  }
}
