{
  "presets": [
    [
      "@nx/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@lib": "../../shared/src/lib",
          "@styles": "../../shared/src/styles",
          "@shared": "../../shared/src/lib"
        }
      }
    ]
  ]
}
